<form>
	<div class="row search-movie-container">
		<mat-form-field class="col-md-6 col-12 w-100">
			<input
				id="search-movie-name"
				[formControl]="nameText"
				matInput
				placeholder="Type the name of the movie..."
			/>
		</mat-form-field>
		<mat-form-field class="col-md-6 col-12 w-100">
			<mat-select
				id="seach-movie-genres"
				placeholder="Select the genres..."
				[formControl]="genresSelect"
				multiple
			>
				<mat-option *ngFor="let genre of genres" [value]="genre">{{
					genre
				}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</form>
