<section>
	<section>
		<filter-movies #filterMovies [genres]="genres"></filter-movies>
	</section>
	<section class="mb-5"><sort-movies #sortMovies></sort-movies></section>
	<section class="row">
		<div
			*ngIf="
				getFilteredMovies(
					filterMovies.nameText.value,
					filterMovies.genresSelect.value
				).length === 0
			"
			class="col-12 justify-content-center"
			[@slideInLeftOnEnter]
			[@slideOutRightOnLeave]
		>
			<p class="no-movies-list-message">
				It looks like there are not movies corresponding to your search...
				<br />
				Try changing your filters!
			</p>
		</div>
		<article
			class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 movie-list-item-wrapper"
			*ngFor="
				let movie of (getFilteredMovies(
					filterMovies.nameText.value,
					filterMovies.genresSelect.value
				) | sortMovies: sortMovies.sortBySelect.value);
				trackBy: trackById
			"
			[@bounceInUpOnEnter]
			[@bounceOutOnLeave]
		>
			<a [routerLink]="['/movie', movie.id]">
				<movie-list-item [movie]="movie"></movie-list-item>
			</a>
		</article>
	</section>
</section>
