<section>
	<section>
		<filter-movies #filterMovies [genres]="genres"></filter-movies>
	</section>
	<section class="row">
		<div
			*ngIf="
				isNoMoviesMessageVisible(
					filterMovies.nameText,
					filterMovies.genresSelect
				)
			"
			class="col-12 justify-content-center"
			[@slideInLeftOnEnter]
			[@slideOutRightOnLeave]
		>
			<p class="no-movies-list-message">
				It looks like there are not movies corresponding to your search...
				<br />
				Try changing your filters!
			</p>
		</div>
		<div
			*ngIf="
				!isMoviesListEmpty(
					filterMovies.nameText.value,
					filterMovies.genresSelect.value
				)
			"
			class="col-12"
		>
			<div class="row">
				<section class="col-12 mb-5">
					<sort-movies #sortMovies></sort-movies>
				</section>
				<article
					class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 movie-list-item-wrapper"
					*ngFor="
						let movie of (getFilteredMovies(
							filterMovies.nameText.value,
							filterMovies.genresSelect.value
						) | sortMovies: sortMovies.sortBySelect.value);
						trackBy: trackById
					"
					[@bounceInUpOnEnter]
					[@bounceOutOnLeave]
				>
					<a [routerLink]="['/movie', movie.id]">
						<movie-list-item [movie]="movie"></movie-list-item>
					</a>
				</article>
			</div>
		</div>
	</section>
</section>
