@import './../../../colors';
.movie-item-card {
	text-align: center;
	position: relative;
	margin-bottom: 30px;
	color: $blue;
}

.movie-item-card-title {
	min-height: 50px;
	font-size: 17pt;
}

.movie-item-card-rate {
	background-color: $yellow;
	color: $black;
	display: inline-block;
	top: -15px;
	padding: 2px 10px;
	position: relative;
	max-width: fit-content;
	margin: 0 auto;
}
